html {
	font-size: 15pt;
	background-color: black;
	color: white;
}

body {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-size: 300%;
}

h2 {
	font-size: 240%;
}

h3 {
	font-size: 160%;
}

div#navbar 
{
	background-color: white;
	padding: 2px;
}

div#navbar h1
{
	font-size: 350%;
	color: lightblue;
	text-shadow: 2px 2px 5px gray;
	text-align: center;
	margin: 0px;
}

div#navbar p
{
	width: 250px;	
	padding: 10px;
	color: black;
	margin-left: auto;
}

div#navbar img
{
	margin-left: auto;
}

div#navbar ul li
{
	display: inline;
	width: 300px;
	padding: 5px;
	padding-left:20px;
	padding-right:20px;
	box-shadow: 2px 2px 5px black;
	margin-left: 10px;
}

.fa {
	color: black;
}

.fa-star {
	text-shadow: 2px 2px 2px gray;
	transition: 0.3s;
	color: #224;
}

.checked {
	color: yellow;
}

.info {
	border: yellow 1px;
	padding: 5px;
}

.warning {
	border: red 2px;
	background-color: yellow;
	color: black;
	padding: 5px;	
}

.error {
	border: white 2px;
	background-color: red;
	font-weight: bold;
	color: black;
	padding: 5px;	
}

input.text_middlename {
	width: 50px;
}

select.slct_klas {
	width: 100px;
}

input.num_student_id {
	width: 100px;
}


